doctype html
include ../include/mixin
+head('Luyen Tap',"https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Mali:300,400,500,700|Sedgwick+Ave&display=swap&subset=vietnamese")
body
    
    main.main
        aside.side-bar
            .btn-hide
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            .side-fixed
                .user__table.active.horizontal
                    .user__table-head.horizontal
                        .user__table-avt.horizontal(style="background-image:url(../img/user-avt.jpg)")
                        h3.user__table-name.horizontal Le Xuan Tung 
                        p.user__table-date.horizontal Tham gia vào ngày 20/04/2020
                    .user__table-body
                        a.user__btn.btn.btn--primary Thông tin
                        a.user__btn.btn.btn--primary Điểm số
                        a.user__btn.btn.btn--primary Đăng xuất
                +navigation1('nav-horizontal','Trang chủ','Giới thiệu','Luyện tập', 'Tài nguyên', 'Phòng học', 'liên hệ')
                .side-footer
                    h4.footer__title Kết nối với chúng tôi
                    .footer__item.footer__social
                        a(href="").footer__social-link
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        a(href="").footer__social-link
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        a(href="").footer__social-link
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        a(href="").footer__social-link
                            <i class="fa fa-google" aria-hidden="true"></i>
        article.main-content 
            .container-full.u-relative
                .door
                    .row
                        .col-1-of-3
                            .door__item
                                img(src="../img/door.jpg", alt="").door__img
                                .door__start BẮT ĐẦU
                            .door__des
                                .door__icon
                                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                h3.door__text HTML
                        .col-1-of-3
                            .door__item
                                img(src="../img/door.jpg", alt="").door__img
                                .door__start BẮT ĐẦU
                            .door__des
                                .door__icon
                                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                h3.door__text CSS
                        .col-1-of-3
                            .door__item
                                img(src="../img/door.jpg", alt="").door__img
                                .door__start BẮT ĐẦU
                            .door__des
                                .door__icon
                                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                h3.door__text JAVASCRIPT
                //quiz html
                .quiz
                    a(href="#").btn.btn--bg-primary.quiz__close Bỏ cuộc
                    .quiz__header.u-margin-top-2
                        h3.heading-section.u-text-color-light.u-margin-top-2  HTML quiz
                    .quiz__box
                        form(action="#")
                            h4.quiz__question HTML có phải là một ngôn ngữ lập trình không?
                            .quiz__container
                                .quiz__group
                                    input(class="quiz__check" id="answer1" type="radio" name="answer" value="value1").quiz__checkbox
                                    label(for="answer1").quiz__answer HTML là một ngôn ngữ lập trình
                                .quiz__group
                                    input(class="quiz__check" id="answer2" type="radio" name="answer" value="value2").quiz__checkbox
                                    label(for="answer2").quiz__answer HTML là ngôn ngữ giao tiếp của nước Việt Nam 
                                .quiz__group
                                    input(class="quiz__check" id="answer3" type="radio" name="answer" value="value3").quiz__checkbox
                                    label(for="answer3").quiz__answer  HTML là ngôn ngữ đánh dấu siêu văn bản.
                        .quiz__action
                                a(href="#").btn.btn--bg-primary.btnNext tiếp theo
                                p.paragraph.paragraph--big <span class="quiz__num-of-q"></span> of <span class="quiz__total-of-q"></span> questions
                    
                    .quiz__timing
                        span.quiz__timing-minute
                        span  : 
                        span.quiz__timing-second
                //quiz css
                .quiz
                    a(href="#").btn.btn--bg-primary.quiz__close Bỏ cuộc
                    .quiz__header.u-margin-top-2
                        h3.heading-section.u-text-color-light.u-margin-top-2  CSS quiz
                    .quiz__box
                        form(action="#")
                            h4.quiz__question HTML có phải là một ngôn ngữ lập trình không?
                            .quiz__container
                                .quiz__group
                                    input(class="quiz__check" id="answer1" type="radio" name="answer" value="value1").quiz__checkbox
                                    label(for="answer1").quiz__answer HTML là một ngôn ngữ lập trình
                                .quiz__group
                                    input(class="quiz__check" id="answer2" type="radio" name="answer" value="value2").quiz__checkbox
                                    label(for="answer2").quiz__answer HTML là ngôn ngữ giao tiếp của nước Việt Nam 
                                .quiz__group
                                    input(class="quiz__check" id="answer3" type="radio" name="answer" value="value3").quiz__checkbox
                                    label(for="answer3").quiz__answer  HTML là ngôn ngữ đánh dấu siêu văn bản.
                        .quiz__action
                                a(href="#").btn.btn--bg-primary.btnNext tiếp theo
                                p.paragraph.paragraph--big <span class="quiz__num-of-q"></span> of <span class="quiz__total-of-q"></span> questions
                    
                    .quiz__timing
                        span.quiz__timing-minute
                        span  : 
                        span.quiz__timing-second
                // quiz JS
                .quiz
                    a(href="#").btn.btn--bg-primary.quiz__close Bỏ cuộc
                    .quiz__header.u-margin-top-2
                        h3.heading-section.u-text-color-light.u-margin-top-2  JAVASCRIPT quiz
                    .quiz__box
                        form(action="#")
                            h4.quiz__question HTML có phải là một ngôn ngữ lập trình không?
                            .quiz__container
                                .quiz__group
                                    input(class="quiz__check" id="answer1" type="radio" name="answer" value="value1").quiz__checkbox
                                    label(for="answer1").quiz__answer HTML là một ngôn ngữ lập trình
                                .quiz__group
                                    input(class="quiz__check" id="answer2" type="radio" name="answer" value="value2").quiz__checkbox
                                    label(for="answer2").quiz__answer HTML là ngôn ngữ giao tiếp của nước Việt Nam 
                                .quiz__group
                                    input(class="quiz__check" id="answer3" type="radio" name="answer" value="value3").quiz__checkbox
                                    label(for="answer3").quiz__answer  HTML là ngôn ngữ đánh dấu siêu văn bản.
                        .quiz__action
                                a(href="#").btn.btn--bg-primary.btnNext tiếp theo
                                p.paragraph.paragraph--big <span class="quiz__num-of-q"></span> of <span class="quiz__total-of-q"></span> questions
                    
                    .quiz__timing
                        span.quiz__timing-minute
                        span  : 
                        span.quiz__timing-second
                        
                    

                        

            
    .overlay
    +script("../js/practice.js","../js/quiz.js","../js/layout.js")