footer.footer
    .container
        .row
            .col-1-of-4
                .footer__item.footer__about
                    a(href="index.html").footer__logo
                        img(src="../img/logo.png", alt="logo")
            .col-1-of-4
                h4.footer__title Trắc nghiệm
                .footer__item.footer__quiz
                    ul.footer__list
                        li.footer__item
                            a(href="#").footer__link HTML Quizz
                        li.footer__item
                            a(href="#").footer__link CSS Quizz
                        li.footer__item
                            a(href="#").footer__link Javscript Quizz
                        li.footer__item
                            a(href="#").footer__link Bootstrap Quizz
            .col-1-of-4
                    h4.footer__title Khoá học
                    .footer__item.footer__course
                        ul.footer__list
                            li.footer__item
                                a(href="#").footer__link Khoá học căn bản HTML
                            li.footer__item
                                a(href="#").footer__link Khoá học cơ bản HTML
                            li.footer__item
                                a(href="#").footer__link Siêu cấp Javscript
                            li.footer__item
                                a(href="#").footer__link Làm quen với GulpJS
            .col-1-of-4
                    h4.footer__title Kết nối với chúng tôi
                    .footer__item.footer__social
                        a(href="").footer__social-link
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        a(href="").footer__social-link
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        a(href="").footer__social-link
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        a(href="").footer__social-link
                            <i class="fa fa-google" aria-hidden="true"></i>